.button-add {
    background-color: #f2a137;
    border-radius: 3%;
    height: 55px;
    width: 222px;   
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 40px 2px;
    cursor: pointer;
  }
  .button-buy {
    background-color: #f9613b;
    border: none;
    height: 55px;
    width: 222px;
    border-radius: 3%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 40px 10px;
    cursor: pointer;
  }
  #imgopacity{
      opacity: .6;
      padding: 2px;
      height: 19.7%;
  }

  #imgopacity:hover{
    opacity:1;
}

#myimage{
  width: 500px;
}

* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 800px;
  height: 300px;
}
#myresult{
float:right;

}